<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#57ff7c" />

    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" />

    <title>404 • Ryu</title>
  </head>
  <body>
    <noscript>You need to activate JavaScript to run this application.</noscript>
    
    <h1>404</h1>
    <h2>Page not found</h2>
    
    <a href="/" class="back" draggable="false">
      Back to Home
    </a>

    <canvas id="stars"></canvas>

    <script src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js" defer async></script>
    <script>
        const script = document.createElement('script');

        script.src = '/js/stars.js';
        script.async = true;

        document.body.appendChild(script);
    </script>
  </body>
</html>
