<!-- explorer.ejs -->

<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Explorer • Ryu</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/explorer.css">

    <!-- DevExtreme CSS -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.3/css/dx.dark.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.3/css/dx.common.css">

    <!-- jQuery -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- DevExtreme JS -->
    <script defer src="https://cdn3.devexpress.com/jslib/23.1.3/js/dx.all.js"></script>

    <!-- JSZip -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <!-- FileSaver.js -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>

<body>
    <div id="loading"></div>

    <div class="dx-viewport demo-container">
        <div id="file-manager"></div>
        <div id="photo-popup"></div>
    </div>

    <script>
        const key = '<%= apiKey %>';
    </script>

    <script defer src="/js/explorer.js"></script>
</body>

</html>