<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/form.css" />

    <title>Explorer • Ryu</title>
  </head>
  <body>
    <h1>File Explorer</h1>
    <form action="/explorer" method="POST">
      <label for="apiKey">Access Key:</label>
      <input type="text" id="apiKey" name="apiKey" required />
      <button type="submit">Confirm</button>
    </form>
  </body>
</html>
