<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap"
    />

    <title>Pics • Ryu</title>
  </head>
  <body>
    <H1>
      <span class="first-part">pics.</span><a href="https://ryuzaki.cloud/" target="_blank" rel="noreferrer"><span class="second-part">ryuzaki.cloud</span></a>
    </H1>
    
    <canvas id="stars"></canvas>

    <script src="https://rawgit.com/ironwallaby/delaunay/master/delaunay.js" defer async></script>
    <script>
        const script = document.createElement('script');
        script.src = '/js/stars.js';
        script.async = true;

        document.body.appendChild(script);
    </script>
  </body>
</html>
