.dx-popup-content.photo-popup-content img.photo-popup-image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

#file-manager {
	width: 70%;
	height: 40rem;
	margin-right: auto;
	margin-left: auto;
}

#photo-popup img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 768px) {
	#file-manager {
		width: 90%;
		height: 40rem;
	}

	.dx-theme-generic-typography {
		margin-top: 10rem;
	}
}