body {
    background-color: rgb(14, 14, 14);
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.zoom-container {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-in;
    transition: transform 0ms ease-in-out;
}

img.zoomed {
    justify-content: center;
    align-items: center;
    transform: scale(2);
    cursor: zoom-out;
}
