body {
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}